## Чинаев Алексей РТ5-61Б, Вариант 19

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [5]:
data = pd.read_csv('HRDataset_v14.csv')
data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

Решаем задачу классификации статуса сотрудника

In [6]:
# Удалим ненужные столбцы
columns_to_drop = ["Employee_Name", "EmpID", "DOB", "Zip", "Termd",
                   "DateofTermination", "TermReason", "ManagerName",
                   "ManagerID", "LastPerformanceReview_Date", "DaysLateLast30"]

data = data.drop(columns=columns_to_drop)

In [7]:
X = data.drop(columns=["EmploymentStatus"])  # признаки
y = data["EmploymentStatus"]  # целевая переменная

# Кодируем целевую переменную
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Кодируем категориальные признаки
X_encoded = pd.get_dummies(X)

# Заполняем пропущенные значения
imputer = SimpleImputer(strategy="most_frequent")
X_imputed = pd.DataFrame(imputer.fit_transform(X_encoded), columns=X_encoded.columns)

X_train, X_test, y_train, y_test = train_test_split(X_imputed, y, test_size=0.2, random_state=42)

In [8]:
# Модель дерева решений
decision_tree = DecisionTreeClassifier(random_state=42)
decision_tree.fit(X_train, y_train)

# Модель случайного леса
random_forest = RandomForestClassifier(random_state=42)
random_forest.fit(X_train, y_train)

# Предсказание на тестовой выборке
y_pred_dt = decision_tree.predict(X_test)
y_pred_rf = random_forest.predict(X_test)

In [9]:
# Оценка качества модели дерева решений
print("Модель дерева решений:")
print("Accuracy:", accuracy_score(y_test, y_pred_dt))
print("Precision:", precision_score(y_test, y_pred_dt, average='weighted'))
print("Recall:", recall_score(y_test, y_pred_dt, average='weighted'))
print("F1-score:", f1_score(y_test, y_pred_dt, average='weighted'))

# Оценка качества модели случайного леса
print("\nМодель случайного леса:")
print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Precision:", precision_score(y_test, y_pred_rf, average='weighted'))
print("Recall:", recall_score(y_test, y_pred_rf, average='weighted'))
print("F1-score:", f1_score(y_test, y_pred_rf, average='weighted'))

Модель дерева решений:
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1-score: 1.0

Модель случайного леса:
Accuracy: 0.9523809523809523
Precision: 0.9556277056277056
Recall: 0.9523809523809523
F1-score: 0.9389355742296919

Исходя из получннных результатов можно сделать вывод, что модель случайного леса более устойчива и обобщает лучше на новые данные, в то время как модель дерева решений, вероятно, переобучилась к обучающим данным.